.food-delivery-page {
    .content {
        .simple-blocks {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            gap: 0 15px;
            margin-top: 24px;
            margin-bottom: 48px;
            .block {
                width: 30%;
                max-width: 545px;
                background: rgba($color: $accent-color-two, $alpha: 0.05);
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                border-radius: 5px;
                box-sizing: border-box;
                padding: 18px 32px;

                .img {
                    width: 85px;
                    height: 164px;
                    margin-right: 32px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .info {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    .title {
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        margin-bottom: 8px;
                    }
                    .desc {
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
            }
        }
    }

    @import "./programs.scss";
    @import "./MenuItem.scss";
    @import "./MenuPhotos.scss";
}
