@font-face {
    font-family: "FixelDisplay";
    src: url("./FixelDisplay/FixelDisplay-Thin.ttf") format("truetype");
    font-stretch: normal;
    font-weight: 100;
}
@font-face {
    font-family: "FixelDisplay";
    src: url("./FixelDisplay/FixelDisplay-ExtraLight.ttf") format("truetype");
    font-stretch: normal;
    font-weight: 200;
}
@font-face {
    font-family: "FixelDisplay";
    src: url("./FixelDisplay/FixelDisplay-Light.ttf") format("truetype");
    font-stretch: normal;
    font-weight: 300;
}
@font-face {
    font-family: "FixelDisplay";
    src: url("./FixelDisplay/FixelDisplay-Regular.ttf") format("truetype");
    font-stretch: normal;
    font-weight: norlmal;
}
@font-face {
    font-family: "FixelDisplay";
    src: url("./FixelDisplay/FixelDisplay-Medium.ttf") format("truetype");
    font-stretch: normal;
    font-weight: 500;
}
@font-face {
    font-family: "FixelDisplay";
    src: url("./FixelDisplay/FixelDisplay-SemiBold.ttf") format("truetype");
    font-stretch: normal;
    font-weight: 600;
}
@font-face {
    font-family: "FixelDisplay";
    src: url("./FixelDisplay/FixelDisplay-Bold.ttf") format("truetype");
    font-stretch: normal;
    font-weight: bold;
}
@font-face {
    font-family: "FixelDisplay";
    src: url("./FixelDisplay/FixelDisplay-ExtraBold.ttf") format("truetype");
    font-stretch: normal;
    font-weight: 800;
}
@font-face {
    font-family: "FixelDisplay";
    src: url("./FixelDisplay/FixelDisplay-Black.ttf") format("truetype");
    font-stretch: normal;
    font-weight: 900;
}

@font-face {
    font-family: "FixelText";
    src: url("./FixelText/FixelText-Thin.ttf") format("truetype");
    font-stretch: normal;
    font-weight: 100;
}
@font-face {
    font-family: "FixelText";
    src: url("./FixelText/FixelText-ExtraLight.ttf") format("truetype");
    font-stretch: normal;
    font-weight: 200;
}
@font-face {
    font-family: "FixelText";
    src: url("./FixelText/FixelText-Light.ttf") format("truetype");
    font-stretch: normal;
    font-weight: 300;
}
@font-face {
    font-family: "FixelText";
    src: url("./FixelText/FixelText-Regular.ttf") format("truetype");
    font-stretch: normal;
    font-weight: norlmal;
}
@font-face {
    font-family: "FixelText";
    src: url("./FixelText/FixelText-Medium.ttf") format("truetype");
    font-stretch: normal;
    font-weight: 500;
}
@font-face {
    font-family: "FixelText";
    src: url("./FixelText/FixelText-SemiBold.ttf") format("truetype");
    font-stretch: normal;
    font-weight: 600;
}
@font-face {
    font-family: "FixelText";
    src: url("./FixelText/FixelText-Bold.ttf") format("truetype");
    font-stretch: normal;
    font-weight: bold;
}
@font-face {
    font-family: "FixelText";
    src: url("./FixelText/FixelText-ExtraBold.ttf") format("truetype");
    font-stretch: normal;
    font-weight: 800;
}
@font-face {
    font-family: "FixelText";
    src: url("./FixelText/FixelText-Black.ttf") format("truetype");
    font-stretch: normal;
    font-weight: 900;
}

@font-face {
    font-family: "FixelVariable";
    src: url("./FixelVariable/FixelVariable.ttf") format("truetype");
}
